<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List | Vivek R</title>
    <link rel="stylesheet" href="CSS/styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1><%= ListName %></h1>        
    </div>

    <div class="box">
        <% for(var i=0; i<L.list.length; i++) { %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="checkboxItem" value="<%= L.list[i] %>" onchange="this.form.submit()">
                    <p><%= L.list[i] %></p>
                    
                </div>
                <input type="hidden" name="listNameOfItem" value="<%= L.listname %>"></input>
            </form>
        <% } %>

        <form action="/" method="post" class="item">
            <input type="text" name="newEvent" placeholder="New item" autocomplete="off">
            <button type="submit" name="list" value="<%= ListName %>">+</button>
        </form>            
    </div>
</body>
</html>
